<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.likeminds.feedsx">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <activity
            android:name="com.likeminds.feedsx.media.view.MediaPickerActivity"
            android:exported="false" />
        <activity
            android:name="com.likeminds.feedsx.report.view.ReportActivity"
            android:exported="false" />
        <activity
            android:name="com.likeminds.feedsx.post.create.view.CreatePostActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.likeminds.feedsx.post.edit.view.EditPostActivity"
            android:exported="false" />
        <activity
            android:name="com.likeminds.feedsx.likes.view.LikesActivity"
            android:exported="false" />
        <activity
            android:name="com.likeminds.feedsx.notificationfeed.view.NotificationFeedActivity"
            android:exported="false" />

        <activity
            android:name="com.likeminds.feedsx.post.detail.view.PostDetailActivity"
            android:exported="false" />
    </application>
</manifest>